/*!CK:2131492496!*//*1440558904,*/

.sp_Dn6NgFudZB5{background-image:url(/rsrc.php/v2/yG/r/8L-afDkIsef.png);background-size:50px 72px;background-repeat:no-repeat;display:inline-block;height:30px;width:30px}.sp_Dn6NgFudZB5.sx_860f9f{background-position:-16px -12px}.sp_Dn6NgFudZB5.sx_eef38e{width:18px;height:16px;background-position:0 -54px}.sp_Dn6NgFudZB5.sx_563341{width:12px;height:12px;background-position:-20px -54px}

#bootloader_oga4r { height: 42px; }
.bootloader_oga4r { display:block !important; }