/*!CK:3935999172!*//*1440516235,*/

.sp_n_lPSEF-Q9C{background-image:url(/rsrc.php/v2/yq/r/THvVMYADsH_.png);background-size:14px 28px;background-repeat:no-repeat;display:inline-block;height:12px;width:12px}.sp_n_lPSEF-Q9C.sx_574e91{background-position:0 0}.sp_n_lPSEF-Q9C.sx_580279{background-position:0 -14px}

#bootloader__D3tc { height: 42px; }
.bootloader__D3tc { display:block !important; }